.circleContainer {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid grey 1px;
}

.circleContainer:hover {
  background-color: transparent !important;
  cursor: pointer;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

.containerCircles {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 25px, 0);
  }
}

.typography {
  font-family: 'Raleway', sans-serif;
}
